.cont-price
  width: 64%
  margin: 0 auto
  padding: get-vw(40px) get-vw(49px)
  background-color: $white
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
  transform: translateY(get-vw(-50px))
  @include mobile
    width: 100%
    padding: unset
    box-shadow: unset
  &__list
    display: flex
    justify-content: space-between
    // align-items: baseline
  &__item
    width: get-vw(254px)
    text-align: center
    margin-top: auto
    @include mobile
      width: 100%
      margin-top: auto
    &:nth-child(2) .cont-price__title p
      width: 80%
      margin: 0 auto
  &__preview
    margin-left: auto
    margin-right: auto
    margin-bottom: get-vw(24px)
    width: fit-content
    @include mobile
      // margin-left: 0
      // margin-right: 0
      margin-bottom: get-vw-mobile(24px)
    &.size-a3
      & img
        height: get-vw(237px)
        width: get-vw(169px)
        @include mobile
          width: get-vw-mobile(169px)
          height: get-vw-mobile(237px)
    &.size-a4
      & img
        height: get-vw(217px)
        width: get-vw(147px)
        @include mobile
          width: get-vw-mobile(147px)
          height: get-vw-mobile(217px)
    &.size-a5
      & img
        height: get-vw(189px)
        width: get-vw(128px)
        @include mobile
          width: get-vw-mobile(128px)
          height: get-vw-mobile(189px)
      & .size-ver p
        transform: translateY(10%)
    & img
      border: get-vw(2px) solid $accentColor
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
  &__title
    width: 66%
    margin: auto
    & h3
      color: $titleText
      margin-bottom: get-vw(2px)
      font-size: get-vw(16px)
      letter-spacing: get-vw(.1px)
      line-height: get-vw(22px)
      font-weight: 700
      @include mobile
        font-size: get-vw-mobile(16px)
        letter-spacing: get-vw-mobile(.1px)
        margin-bottom: get-vw-mobile(2px)
        line-height: get-vw-mobile(22px)
    & p
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      color: $descriptionText
      font-weight: 400
      font-size: get-vw(15px)
      letter-spacing: get-vw(.25px)
      opacity: .8
      line-height: 1.3
      @include mobile
        font-size: get-vw-mobile(15px)
        letter-spacing: get-vw-mobile(.25px)
  &__cena
    margin-top: get-vw(2px)
    @include mobile
      margin-top: get-vw-mobile(2px)
    & span
      font-weight: 700
      color: $accentColor
      font-size: get-vw(20px)
      line-height: 1.3
      @include mobile
        font-size: get-vw-mobile(20px)
    span.cont-price__cena_old
      color: $lightTextThree
      position: relative
      margin-right: get-vw(7px)
      @include mobile
        margin-right: get-vw-mobile(7px)
      &::after
        content: ''
        position: absolute
        height: get-vw(2px)
        width: 115%
        transform: translate(-50%,-50%) rotate(-15deg)
        background: #D62D30
        left: 50%
        top: 50%
        @include mobile
          height: get-vw-mobile(2px)
          width: get-vw-mobile(50px)


.size
  &-ver
    position: absolute
    top: 50%
    left: 100%
    transform: translate(-70%,-70%) rotate(-90deg)
    width: 100%
    height: 100%
    pointer-events: none
    @include mobile
      transform: translate(-82%,-70%) rotate(-90deg)
    & p
      transform: translateY(25%)
      font-weight: 700
      font-size: get-vw(16px)
      line-height: get-vw(22px)
      letter-spacing: get-vw(0.1px)
      color: $titleText
      @include mobile
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(22px)
        letter-spacing: get-vw-mobile(0.1px)
  &-hor
    pointer-events: none
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%,-100%)
    & p
      font-weight: 700
      font-size: get-vw(16px)
      line-height: get-vw(22px)
      letter-spacing: get-vw(0.1px)
      color: $titleText
      @include mobile
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(22px)
        letter-spacing: get-vw-mobile(0.1px)