.feedback
  width: 64%
  transform: translateY(get-vw(160px));
  margin: 0 auto
  @include mobile
    width: 100%
    transform: unset
  &-item
    @include mobile
      width: 100%
  &-social
    margin-left: get-vw(89px)
    position: relative
    @include mobile
      background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
      margin: get-vw-mobile(30px) auto 0
      padding: get-vw-mobile(20px) 0
    &::before
      content: ''
      width: get-vw(170px)
      height: get-vw(155px)
      position: absolute
      top: 0
      right: 0
      background: url(../img/sys/decor_social.png) 50% 50%/100% 100% no-repeat
      z-index: -1
      transform: translate(38%,-45%)
      @include mobile
        content: none
    &__list li:not(:last-child) .social-link
      margin-bottom: get-vw(25px)
      @include mobile
        margin-bottom: get-vw-mobile(25px)
  & .social
    &-adress
      font-weight: 600
      font-size: get-vw(20px)
      line-height: get-vw(28px)
      text-transform: uppercase
      color: $titleText
      @include mobile
        font-size: get-vw-mobile(20px)
        line-height: get-vw-mobile(28px)
        margin-bottom: get-vw-mobile(5px)
        color: $white
    &-header
      font-weight: 200
      font-size: get-vw(14px)
      line-height: get-vw(22px)
      letter-spacing: get-vw(.2px)
      color: $descriptionText
      margin-bottom: get-vw(5px)
      @include mobile
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(22px)
        letter-spacing: get-vw-mobile(.2px)
        margin-bottom: get-vw-mobile(5px)
        text-transform: capitalize
        color: $white
    &-link
      width: get-vw(360px)
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $lightTextFour
      padding: get-vw(20px) get-vw(30px)
      // width: 100%
      transition: .4s ease-in-out
      border-radius: get-vw(2px)
      @include mobile
        width: 100%
        padding: unset
        flex-wrap: wrap
        background: transparent
      & svg path
        @include mobile
          fill: $white
      &:hover
        @media (hover:hover)
          background-color: $white
          box-shadow: 0px get-vw(4px) get-vw(15px) rgba(0, 0, 0, 0.07)
          & svg
            &.icon-face path
              fill: url(#grad-face)
            &.icon-inst path
              fill: url(#grad-inst)
            &.icon-mail path
              fill: url(#grad-mail)
          & .social-img
            transform: scale(1.2)
    &-name
      display: flex
      flex-direction: column
      @include mobile
        width: 100%
        text-align: center
    &-img
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      width: get-vw(48px)
      height: get-vw(48px)
      background-color: rgba(195, 203, 205,.3)
      transition: .4s ease-in-out
      @include mobile
        margin: 0 auto
        width: get-vw-mobile(48px)
        height: get-vw-mobile(48px)
      & svg
        width: 50%
        height: auto
        transition: .2s ease-in-out
        &.icon-face
          width: 75%
          transform: translate(-8%,5%)
        &.icon-mail
          width: 70%
          transform: translate(-8%,7%)
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    @include mobile
      flex-wrap: wrap
  // &-item
  //   width: 45%
  &-form
    width: get-vw(318px)
    background: $white
    box-shadow: 0px get-vw(4px) get-vw(15px) rgba(0, 0, 0, 0.07)
    border-radius: get-vw(2px)
    padding: get-vw(50px) get-vw(63px)
    position: relative
    @include mobile
      width: 88%
      padding: unset
      box-shadow: unset
      margin: 0 auto
    .screen-reader-response
      display: none
    &::before
      content: ''
      width: get-vw(119px)
      height: get-vw(108px)
      position: absolute
      bottom: 0
      left: 0
      background-color: red
      background: url(../img/sys/decor_form.png) 50% 50%/100% 100% no-repeat
      z-index: -1
      transition: .8s ease-in-out
      opacity: 0
      transform: translate(38%,-45%)
      @include mobile
        content: none
    & form
      width: 100%
      display: flex
      flex-wrap: wrap
      .screen-reader-response, .wpcf7-response-output
        display: none
      & label
        width: 100%
        margin-bottom: get-vw(5px)
        font-weight: 400
        font-size: get-vw(14px)
        line-height: get-vw(20px)
        letter-spacing: get-vw(.25px)
        color: $descriptionText
        @include mobile
          font-size: get-vw-mobile(14px)
          line-height: get-vw-mobile(20px)
          letter-spacing: get-vw-mobile(.25px)
          margin-bottom: get-vw-mobile(5px)
        span
          position: relative
          &.wpcf7-not-valid-tip
            position: absolute
            right: 0
            font-size: get-vw(12px)
            color: $white
            background: #D62D30
            display: inline-block
            padding: 0 get-vw(8px)
            height: get-vw(22px)
            border-radius: get-vw(3px)
            margin: 0
            transform: translateY(calc(-100% - 0.556vw))
            @include mobile
              font-size: get-vw-mobile(12px)
              padding: 0 get-vw-mobile(8px)
              height: get-vw-mobile(22px)
              border-radius: get-vw-mobile(3px)
              transform: translateY(calc(-100% - 2.222vmin))
            &::after
              position: absolute
              content: ''
              width: 0
              height: 0
              border-style: solid
              border-width: get-vw(11px) get-vw(5.5px) 0 get-vw(5.5px)
              border-color: #d62d30 transparent transparent
              bottom: 0
              transform: translateY(100%)
              right: get-vw(17px)
              @include mobile
                border-width: get-vw-mobile(11px) get-vw-mobile(5.5px) 0 get-vw-mobile(5.5px)
                right: get-vw-mobile(17px)
      & input
        outline-color: $accentColor
        border: none
        width: 100%
        background-color: $lightTextTwo
        font-weight: 400
        font-size: get-vw(16px)
        line-height: 1.3
        color: $titleText
        margin-bottom: get-vw(5px)
        padding: get-vw(10px) get-vw(15px)
        @include mobile
          font-size: get-vw-mobile(16px)
          margin-bottom: get-vw-mobile(5px)
          padding: get-vw-mobile(10px) get-vw-mobile(15px)
        &.wpcf7-not-valid
          border: 1px solid #D62D30
        &:focus
          &::-webkit-input-placeholder
            opacity: 0
        &::-webkit-input-placeholder
          opacity: .6
        &[type=submit]
          margin-top: get-vw(19px)
          background-color: $accentColor
          border-radius: get-vw(40px)
          font-size: get-vw(16px)
          line-height: get-vw(18px)
          letter-spacing: get-vw(0.3px)
          color: $lightTextTwo
          cursor: pointer
          outline: none
          padding: get-vw(13.5px) 0
          transition: .4s ease-in-out
          @include mobile
            font-size: get-vw-mobile(16px)
            border-radius: get-vw-mobile(40px)
            margin-top: get-vw-mobile(15px)
            padding: get-vw-mobile(13.5px) 0
            line-height: get-vw-mobile(18px)
            letter-spacing: get-vw-mobile(0.3px)
            background-color: $blackHeadline
          &:hover
            @media (hover:hover)
              color: $accentColor
              background-color: $blackHeadline
              text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
      & textarea
        outline-color: $accentColor
        border: none
        width: 100%
        background-color: $lightTextTwo
        font-weight: 400
        font-size: get-vw(16px)
        line-height: 1.3
        color: $titleText
        padding: get-vw(10px) get-vw(15px)
        height: get-vw(106px)
        @include mobile
          font-size: get-vw-mobile(16px)
          margin-bottom: get-vw-mobile(5px)
          padding: get-vw-mobile(10px) get-vw-mobile(15px)
          height: get-vw-mobile(106px)
        &:focus
          &::-webkit-input-placeholder
            opacity: 0
        &::-webkit-input-placeholder
          opacity: .6
      & h3
        font-weight: 400
        font-size: get-vw(30px)
        line-height: 1.3
        letter-spacing: get-vw(.25px)
        color: $titleText
        margin-bottom: get-vw(33px)
        @include mobile
          font-weight: 600
          font-size: get-vw-mobile(34px)
          letter-spacing: get-vw-mobile(.25px)
  &-header
    text-align: center
    margin-bottom: get-vw(70px)
    @include mobile
      display: none
    & h2
      font-weight: 600
      font-size: get-vw(34px)
      line-height: 1.3
      letter-spacing: get-vw(.25px)
      color: $titleText
.feedback form
  *
    box-sizing: border-box
  > p
    width: 100%
    label
      span
        display: inline-block
        margin-top: get-vw-mobile(5px)
.feedback.active
  & .feedback-form::before
    opacity: 1
    transform: translate(-38%,45%)