.header
  display: flex
  justify-content: center
  align-items: center
  height: get-vw(96px)
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
  transition: .3s ease-in-out
  position: relative
  top: -10%
  animation: .4s ease-in-out showHeader forwards
  // background: red
  &-logo
    display: flex
    align-items: center
    & img
      transition: .4s ease-in-out
    & span
      font-weight: 800
      font-size: get-vw(28px)
      transition: .4s ease-in-out
  &-inner
    display: flex
    justify-content: space-between
    align-items: center
  &-nav
    display: flex
    align-items: center
  &.sticky
    position: fixed
    height: get-vw(76px)
    top: -10%
    animation: .4s ease-in-out showHeader forwards
    & .header-logo
      & span
        left: 0
        transform: rotate(-90deg) translateY(-1000%)
        font-weight: 400
        font-size: get-vw(8px)
      & img
        transform: translateX(20%)

.primary-menu
  display: flex
  justify-content: space-between
  align-items: center
  // &-wrapper

@keyframes showHeader
  0%
    top: -10%
  100%
    top: 0