.header
  display: flex
  justify-content: center
  align-items: center
  height: get-vw(96px)
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
  transition: .3s ease-in-out
  position: fixed
  top: 0%
  background-color: $white
  animation: .6s ease-in-out showHeader forwards
  color: $titleText
  z-index: 100
  &-button
    display: flex
    align-items: center
  &-logo
    display: flex
    align-items: center
    // height: 90%
    & img
      transition: .4s ease-in-out
      width: 60%
    & span
      font-weight: 800
      font-size: get-vw(28px)
      transition: .4s ease-in-out
      color: $blackHeadline
  &-inner
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 10px
  &-nav
    display: flex
    align-items: center
    width: 65%
    justify-content: space-between
  &.sticky
    // position: fixed
    height: get-vw(76px)
    // top: 0%
    // animation: .6s ease-in-out showHeader forwards
    & .header-logo
      & span
        left: 0
        transform: rotate(-90deg) translateY(-1000%)
        font-weight: 400
        font-size: get-vw(8px)
      & img
        transform: translateX(20%)

.primary-menu
  display: flex
  justify-content: space-between
  align-items: center
  // &-wrapper
    // margin-right: get-vw(134px)
  & .menu-item
    & a
      font-size: get-vw(17px)
      position: relative
      font-weight: 400
      color: inherit
      transition: .3s ease-in-out
      letter-spacing: .75px
      &::after
        content: ''
        height: get-vw(1.6px)
        width: 105%
        position: absolute
        bottom: 0
        left: 50%
        opacity: 0
        transition: .3s ease-in-out
        transform: translate(-50%,15px)
        background-color: $accentColor
      &:hover
        @media (hover: hover)
          color: $accentColor
          text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
          // font-weight: 600
          // letter-spacing: 0.75px
        &::after
          @media (hover: hover)
            opacity: 1
            transform: translate(-50%,5px)
    &:not(:last-child)
      margin-right: get-vw(55px)

.product
  &-create
    display: flex
    align-items: center
    justify-content: center
    background-color: $blackHeadline
    width: get-vw(191px)
    height: get-vw(41px)
    // border: get-vw(2px) solid $blackHeadline
    border-radius: get-vw(40px)
    cursor: pointer
    margin-right: get-vw(37px)
    position: relative
    transition: .3s ease-in-out
    // &::after
    //   content: ''
    //   position: absolute
    //   top: 50%
    //   left: 50%
    //   transform: translate(-50%,-50%)
    //   width: 100%
    //   height: 100%
    //   border-radius: get-vw(40px)
    //   background: $blackHeadline
    //   opacity: .3
    & span
      z-index: 1
      color: $lightTextTwo
      font-size: get-vw(16px)
      transition: .3s ease-in-out
    &:hover
      @media (hover: hover)
        // border-color: $accentColor
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.05)
      & span
        @media (hover: hover)
          color: $accentColor
          text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
  &-cart
    width: get-vw(44px)
    height: get-vw(44px)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    background-color: $lightTextTwo
    cursor: pointer
    transition: .3s ease-in-out
    & .cart
      &-btn
        outline: none
        width: 50%
        border: none
        pointer-events: none
        & svg
          transition: .3s ease-in-out
          width: 100%
      &-num
        position: absolute
        width: get-vw(22px)
        height: get-vw(22px)
        top: 0
        right: 0
        transform: translateX(50%)
        display: flex
        align-items: center
        justify-content: center
        background-color: $cartItem
        border-radius: 50%
        font-size: get-vw(15px)
        font-weight: 600
        color: $white
    &:hover
      @media (hover: hover)
        box-shadow: $btnShadow
      & svg
        @media (hover: hover)
          fill: $accentColor