.bg-grey.helper
  margin-top: 0
  position: relative
  // overflow-x: hidden
  // overflow-y: auto
  @include mobile
    background: $white
    box-shadow: unset
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: get-vw(55px)
    height: get-vw(100px)
    background: url(../img/sys/decor_intro3.png) -30% 50%/200% 100% no-repeat
    @include mobile
      content: none
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: get-vw(190px)
    height: get-vw(262px)
    background: url(../img/sys/decor_helper.png) 50% 50%/100% 100% no-repeat
    transform: translate(-20%,25%)
    @include mobile
      content: none

.help-cont
  margin: get-vw(250px) auto 0
  padding: get-vw(70px) 0
  @include mobile
    margin: 0 auto
  &__footer
    text-align: center
    &-text
      margin-bottom: get-vw(30px)
      @include mobile
        margin: get-vw-mobile(20px) 0
      & span, & p
        font-weight: 400
        font-size: get-vw(17px)
        line-height: 1.4
        letter-spacing: get-vw(0.3px)
        color: $descriptionText
        @include mobile
          letter-spacing: get-vw-mobile(0.3px)
          font-size: get-vw-mobile(17px)
      & span
        font-size: get-vw(20px)
        font-weight: 600
        line-height: 1.6
        @include mobile
          font-size: get-vw-mobile(20px)
    &-btn
      & .askQuestionBtn
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center
        background-color: $accentColor
        width: get-vw(191px)
        height: get-vw(41px)
        border-radius: get-vw(40px)
        cursor: pointer
        position: relative
        transition: .3s ease-in-out
        @include mobile
          margin: 0 get-vw-mobile(20px)
          height: get-vw-mobile(52px)
          border-radius: get-vw-mobile(40px)
          font-size: get-vw-mobile(16px)
          font-weight: 600
          padding: 0
        & span
          z-index: 1
          color: $lightTextTwo
          font-size: get-vw(16px)
          transition: .3s ease-in-out
          display: flex
          justify-content: center
          align-items: center
          @include mobile
            font-size: get-vw-mobile(16px)
        &:hover
          @media (hover: hover)
            background-color: $blackHeadline
          & span
            @media (hover: hover)
              color: $accentColor
            @include mobile
              width: 100%
              border-radius: get-vw-mobile(40px)
              height: get-vw-mobile(50px)
              background-color: $blackHeadline
            & span
              @include mobile
                font-size: get-vw-mobile(16px)
  &__header
    margin-bottom: get-vw(30px)
    @include mobile
      margin-bottom: get-vw-mobile(20px)
    & h2
      font-weight: 600
      font-size: get-vw(34px)
      line-height: 1.3
      letter-spacing: get-vw(0.25px)
      color: $titleText
      @include mobile
        font-size: get-vw-mobile(34px)
        letter-spacing: get-vw-mobile(0.25px)
  &__item
    position: relative
    margin-bottom: get-vw(60px)
  &__answer
    position: absolute
    right: 0
    top: 0
    width: fit-content
    max-width: get-vw(450px)
    transform: translateY(100%)
    opacity: 0
    display: none
    @include mobile
      position: unset
      max-width: unset
      transform: unset
      display: unset
    & p
      font-weight: 400
      font-size: get-vw(17px)
      line-height: 1.4
      letter-spacing: get-vw(.5px)
      color: $descriptionText
      text-indent: get-vw(15px)
      @include mobile
        font-size: get-vw-mobile(17px)
        letter-spacing: get-vw-mobile(.5px)
        line-height: 0
        opacity: 0
        transition: .3s ease-in-out
      &:not(:last-child)
        margin-bottom: get-vw(15px)
  &__question-item
    cursor: pointer
    @include mobile
      // width: 100%
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
      padding: get-vw-mobile(10px) get-vw-mobile(20px)
      transition: .3s ease-in-out
    & h3
      font-weight: 400
      font-size: get-vw(20px)
      line-height: 1.3
      letter-spacing: get-vw(0.2px)
      color: $titleText
      position: relative
      width: fit-content
      pointer-events: none
      transition: .3s ease-in-out
      width: 100%
      @include mobile
        font-size: get-vw-mobile(20px)
        letter-spacing: get-vw-mobile(0.2px)
        margin: 0 0 get-vw-mobile(5px) 0
        padding-right: get-vw-mobile(70px)
        width: 80%
      &::before
        content: ''
        width: 100%
        height: 2px
        background-color: $accentColor
        position: absolute
        bottom: 0
        left: 0
        transition: .3s ease-in-out
        opacity: 0
        transform: translateY(300%)
        @include mobile
          content: none
      &::after
        content: none
        width: get-vw-mobile(32px)
        height: get-vw-mobile(16px)
        background-color: $accentColor
        position: absolute
        top: 50%
        left: 92%
        transition: .3s ease-in-out
        background: url(../img/sys/arrow-right.svg) 50% 50%/100% 100% no-repeat
        transform: translate(-50%,-50%)
        @include mobile
          content: ''
    &:not(:last-child)
      margin-bottom: get-vw(25px)
      @include mobile
        margin-bottom: get-vw-mobile(20px)
    &:hover
      @media(hover:hover)
        & h3
          color: $accentColor
          text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
          &::before
            opacity: .8
            transform: translateY(-50%)

.help-cont__question-item.active
  & .help-cont__answer
    display: block
    animation: showAnswer .4s ease-in-out forwards
    @include mobile
      animation: unset
      opacity: 1
    & p
      @include mobile
        opacity: 1
        line-height: 1.4
  & h3
    color: $accentColor
    text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
    // @include mobile
    //   color: $titleText
    //   text-shadow: unset
    &::before
      opacity: .8
      transform: translateY(-50%)
    &::after
      transform: translate(-50%,-50%) rotate(90deg)

@keyframes showAnswer
  0%
    transform: translateY(100%)
    opacity: 0
  100%
    opacity: 1
    transform: translateY(0%)