.intro
  margin: get-vw(160px) auto 0
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &-preview
    width: 45%
    &__img
      padding: 0 get-vw(20px) get-vw(26px) 0
      width: 95%
      position: relative
      & img
        background: radial-gradient(108.81% 110.31% at -4.7% -3.05%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%)
        backdrop-filter: blur(7px)
        box-shadow: get-vw(8px) get-vw(4px) get-vw(25px) 0px rgba(0, 0, 0, .24)
        z-index: 1
        position: relative
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: get-vw(218px)
        height: get-vw(218px)
        background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: get-vw(206px)
        height: get-vw(187px)
        background: url(../img/sys/decor_intro.png) 50% 50%/100% 100% no-repeat
        transform: translate(-45%,-40%)
  &-info
    width: 48%
    &__title
      margin-bottom: get-vw(15px)
      & h2
        font-size: get-vw(34px)
        font-weight: 600
        color: $titleText
        letter-spacing: get-vw(0.25px)
        line-height: 1.3
    &__text
      margin-bottom: get-vw(32px)
      & p
        font-size: get-vw(17px)
        font-weight: 400
        color: $descriptionText
        line-height: 1.4
        letter-spacing: get-vw(0.3px)
        &:not(:last-child)
          margin-bottom: get-vw(10px)
    &__list
      width: 77%
      margin-bottom: get-vw(54px)
      &-item
        display: flex
        align-items: center
        &:not(:last-child)
          margin-bottom: get-vw(40px)
        & img
          width: get-vw(48px)
          height: get-vw(48px)
          margin-right: get-vw(30px)
        & span
          color: $blackHeadline
          font-size: get-vw(17px)
          font-weight: 700
          letter-spacing: get-vw(0.44px)
          line-height: 1.4

.intro.intro-second
  margin: get-vw(240px) auto 0
  & .product-create
    background-color: $accentColor
    &:hover
      @media(hover:hover)
        background-color: $blackHeadline
  & .intro-info__title h2
    width: 80%
  & .intro-info__text
    & p:not(:last-child)
      margin-bottom: unset
  & .intro-info__list
    width: 100%
  & .intro-info__list-item
    & img
      width: get-vw(22px)
      height: get-vw(20px)
      margin-right: get-vw(20px)
  & .intro-preview
    width: 43%
    position: relative
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: get-vw(111px)
      height: get-vw(100px)
      background: url(../img/sys/decor_intro3.png) 50% 50%/100% 100% no-repeat
      transform: translate(-35%,-45%)
  & .intro-preview__img
    width: get-vw(303px)
    height: get-vw(434px)
    margin-left: auto
    &::after
      width: get-vw(322px)
      height: get-vw(273px)
      background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
      bottom: 50%
      transform: translate(-50%,50%)
    &::before
      width: get-vw(171px)
      height: get-vw(155px)
      left: unset
      right: 0
      background: url(../img/sys/decor_intro2.png) 50% 50%/100% 100% no-repeat
      transform: translate(30%,-45%)