body
  & .jquery-quickviewmodal.blocker
    z-index: 300!important
    @include mobile
      z-index: 100!important
  & .quickviewmodal
    max-width: fit-content
  & .quickviewmodal a.close-quickviewmodal
    z-index: 300
    position: absolute
    width: get-vw(24px)
    height: get-vw(24px)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    right: get-vw(24px)
    top: get-vw(24px)
    cursor: pointer
    background: transparent
    font-size: 0
    @include mobile
      width: get-vw-mobile(24px)
      height: get-vw-mobile(24px)
      background: transparent
      right: 8%
      top: 3%
      // display: none
    &::after, &::before
      content: ''
      display: inline-block
      width: get-vw(18px)
      height: get-vw(2px)
      background: #373F41
      position: absolute
      transform: rotate(45deg)
      border-radius: get-vw(10px)
      @include mobile
        background: $white
        width: get-vw-mobile(16px)
        height: get-vw-mobile(3px)
    &::before
      transform: rotate(-45deg)
  & .wapf-wrapper .dz-preview
    position: absolute
    left: 15px
    color: #0D1018
    width: 50%
    top: 50%
    transform: translateY(-75%)
  & .js-sizes
    background-color: #f4f5f4
    margin-bottom: get-vw(20px)
    @include mobile()
      margin-bottom: get-vw-mobile(20px)
    & *
      box-sizing: border-box
  & .modal__body .variations
    opacity: 0
    position: absolute
    pointer-events: none

.size-info
  margin: 0 auto 0 get-vw(12px)
  font-size: get-vw(14px)
  color: #737B7D
  line-height: 1.6
  transition: .4s ease-in-out
  @include mobile()
    font-size: get-vw-mobile(14px)
    margin: 0 auto 0 get-vw-mobile(12px)
.size-price
  margin-right: get-vw(25px)
  font-style: normal
  font-weight: 700
  color: #737B7D
  font-size: get-vw(16px)
  @include mobile()
    font-size: get-vw-mobile(16px)

.custom-select.change-size
  padding: 0
  & .custom-select-trigger
    padding-left: get-vw(15px)
    @include mobile()
      padding-left: get-vw-mobile(15px)
.popupWrapper
  & .modal img
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
  & .final-wrap
    display: none
    width: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
    z-index: 200
    height: 100%
    @include mobile()
      background: linear-gradient(130.16deg,#82bb58 2.89%,#53a580 97.29%)
      padding-top: get-vw-mobile(15px)
    & .final-body
      max-height: 62vh
      overflow: hidden
      background: #fbfbfb
      overflow-y: scroll
      padding: get-vw(70px) 0
      @include mobile()
        max-height: initial
        background: none
        padding: 0 get-vw-mobile(20px)
      & .final-btn
        // display: flex
        // flex-wrap: wrap
        & .js-gratis
          width: fit-content
          margin: get-vw(50px) auto
          font-weight: 400
          font-size: get-vw(24px)
          line-height: 1.3
          letter-spacing: get-vw(0.3px)
          color: #F4F5F4
          background-color: #82BB58
          border-radius: get-vw(40px)
          height: get-vw(50px)
          display: flex
          align-items: center
          padding: 0 get-vw(34px)
          cursor: pointer
          @include mobile()
            background: $yellow
            height: get-vw-mobile(62px)
            border-radius: get-vw-mobile(40px)
            color: $titleText
            font-size: get-vw-mobile(16px)
            text-align: center
            padding: 0 get-vw-mobile(34px)
            margin-top: get-vw-mobile(30px)
            margin-bottom: get-vw-mobile(40px)
            font-weight: 600
        & .final-btn-wrap
          display: flex
          justify-content: center
          @include mobile()
            flex-direction: column-reverse
          & .js-final-add
            border: 1px solid transparent
            border-radius: get-vw(40px)
            display: flex
            justify-content: center
            align-items: center
            width: get-vw(204px)
            height: get-vw(44px)
            cursor: pointer
            transition: .4s ease-in-out
            background-color: #0D1018
            @include mobile()
              height: get-vw-mobile(52px)
              width: 100%
              max-width: get-vw-mobile(320px)
              border-radius: get-vw-mobile(40px)
              margin-bottom: get-vw-mobile(10px)
              background: $lightTextOne
            & svg
              width: get-vw(14px)
              margin-left: get-vw(10px)
              @include mobile()
                width: get-vw-mobile(14px)
                margin-left: get-vw-mobile(10px)
              & path
                transition: .4s ease-in-out
                fill: $white
            & i
              font-style: normal
              font-size: get-vw(16px)
              letter-spacing: get-vw(0.3px)
              color: #F4F5F4
              transition: .4s ease-in-out
              @include mobile()
                font-size: get-vw-mobile(16px)
                color: $titleText
            &:hover
              @media (hover: hover)
                box-shadow: 2px 4px 5px rgba(0,0,0,.15)
                background-color: #fff
                border-color: transparent
                & i
                  color: #82bb58
                  text-shadow: 0 0 1px #82bb58, 0 0 1px #82bb58
                & svg path
                  fill: #82bb58
          & .js-prev-final
            border: 1px solid #0D1018
            border-radius: get-vw(40px)
            display: flex
            justify-content: center
            align-items: center
            width: get-vw(140px)
            height: get-vw(44px)
            cursor: pointer
            transition: .4s ease-in-out
            margin-right: get-vw(20px)
            @include mobile()
              width: initial
              height: get-vw-mobile(52px)
              max-width: get-vw-mobile(320px)
              border-radius: get-vw-mobile(40px)
              margin-right: 0
              border: 1px solid $lightTextTwo
            & svg
              width: get-vw(17px)
              margin-right: get-vw(10px)
              @include mobile()
                width: get-vw-mobile(18px)
                margin-right: get-vw-mobile(10px)
              & path
                transition: .4s ease-in-out
                @include mobile()
                  fill: $lightTextTwo
            & i
              font-style: normal
              font-size: get-vw(16px)
              letter-spacing: get-vw(0.3px)
              color: #0D1018
              transition: .4s ease-in-out
              @include mobile()
                font-size: get-vw-mobile(16px)
                color: $lightTextTwo
            &:hover
              @media (hover: hover)
                box-shadow: 2px 4px 5px rgba(0,0,0,.15)
                background-color: #fff
                border-color: transparent
                & i
                  color: #82bb58
                  text-shadow: 0 0 1px #82bb58, 0 0 1px #82bb58
                & svg path
                  fill: #82bb58
    .list-final
      width: 100%
    & .custom-final
      display: flex
      align-items: center
      justify-content: center
      width: 50%
      margin: 0 auto
      @include mobile()
        width: 90%
      // & .list-final
      //   width: 100%
      & *
        box-sizing: border-box
      & .final-item
        display: flex
        margin-bottom: get-vw(15px)
        @include mobile()
          margin-bottom: get-vw-mobile(10px)
        & span
          width: 50%
        & .final-title
          max-width: 45%
          margin-right: get-vw(50px)
          font-weight: 400
          font-size: get-vw(16px)
          line-height: 1.3
          color: #C3CBCD
          @include mobile()
            font-size: get-vw-mobile(16px)
            color: $lightTextTwo
            max-width: get-vw-mobile(100px)
            font-weight: 400
            margin-right: get-vw-mobile(30px)
        & .final-value
          max-width: 50%
          font-weight: 600
          font-size: get-vw(20px)
          line-height: 1.3
          color: #373F41
          @include mobile()
            font-size: get-vw-mobile(20px)
            color: $white
            font-weight: 600
  & .js-custom-btn
    & .popup-btn
      display: flex
      justify-content: flex-end
      @include mobile()
        flex-direction: column-reverse
      &__prev,&__next
        width: get-vw(132px)
        height: get-vw(44px)
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        transition: .4s ease-in-out
        border-radius: get-vw(40px)
        border: 1px solid #0D1018
        @include mobile()
          height: get-vw-mobile(50px)
          border-radius: get-vw-mobile(40px)
          max-width: get-vw-mobile(320px)
          width: 100%
        & i
          font-style: normal
          letter-spacing: get-vw(0.3px)
          font-size: get-vw(16px)
          font-weight: 400
          transition: .4s ease-in-out
          @include mobile()
            font-size: get-vw-mobile(16px)
        & svg
          width: get-vw(18px)
          @include mobile()
            width: get-vw-mobile(17px)
          & path
            transition: .4s ease-in-out
        &:hover
          @media (hover: hover)
            box-shadow: 2px 4px 5px rgba(0,0,0,.15)
            background-color: #fff
            border-color: transparent
            & i
              color: #82bb58
              text-shadow: 0 0 1px #82bb58, 0 0 1px #82bb58
            & svg path
              fill: #82bb58
      &__prev
        margin-right: get-vw(20px)
        @include mobile()
          margin-right: get-vw-mobile(20px)
          border: 1px solid $lightTextTwo
        & i
          color: #0D1018
          margin-left: get-vw(10px)
          @include mobile()
            margin-left: get-vw-mobile(10px)
            color: $lightTextTwo
        & svg path
          @include mobile()
            margin-left: get-vw-mobile(10px)
            fill: $lightTextTwo
      &__next
        background-color: #0D1018
        @include mobile()
          margin-bottom: get-vw-mobile(10px)
          background: $lightTextOne
          border: none
        & i
          color: #F4F5F4
          margin-right: get-vw(10px)
          @include mobile()
            margin-right: get-vw-mobile(10px)
            color: $titleText
        & svg path
          fill: $white
          @include mobile()
            fill: $titleText
    & .wapf-field-label
      display: none
  & .js-custom-price
    display: flex
    justify-content: flex-end
    margin: get-vw(20px) 0
    @include mobile()
      margin: 0
      margin-bottom: get-vw-mobile(20px)
    & .wapf-field-label
      font-weight: 600
      font-size: get-vw(18px)
      line-height: 1.6
      color: #373F41
      margin-right: get-vw(10px)
      display: flex
      align-items: flex-end
      @include mobile()
        font-size: get-vw-mobile(18px)
        margin-right: get-vw-mobile(10px)
        margin-bottom: 0
    & .wapf-field-input
      font-weight: 700
      font-size: get-vw(26px)
      line-height: 1.3
      color: #373F41
      @include mobile()
        font-size: get-vw-mobile(26px)
        color: $blackHeadline
  & .input-subtitle
    & .wapf-field-label.wapf--above
      margin-bottom: get-vw(16px)
      @include mobile()
        margin-bottom: get-vw-mobile(10px)
      span
        @include mobile()
          color: $lightTextTwo
  & .woocommerce-variation
    position: absolute
    pointer-events: none
    opacity: 0
  & .wapf-product-totals, & .quantity, & .product_meta, & button[type='submit']
    position: absolute
    pointer-events: none
    opacity: 0
  & .quantity
    @include mobile()
      display: none
  & .input-textarea
    width: 100%
    & textarea
      width: 100%
    & .wapf-field-label.wapf--above
      margin-bottom: 0
    & *
      box-sizing: border-box
    & .wapf-field-label
      font-weight: 600
      font-size: get-vw(18px)
      line-height: 1.3
      color: #373F41
      @include mobile()
        font-size: get-vw-mobile(18px)
        color: $lightTextTwo
  & .js-pack-is
    display: inline-block
    width: fit-content !important
    margin-right: get-vw(20px)
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
    border: 2px solid transparent
    margin-bottom: get-vw(14px)
    @include mobile()
      margin-right: get-vw-mobile(13px)
      margin-bottom: get-vw-mobile(20px)
    &.active
      border: 2px solid #82BB58
      @include mobile()
        border: 2px solid $titleText
    & .wapf-field-label
      display: none
    & .wapf-field-input
      width: get-vw(125px)
      @include mobile()
        width: get-vw-mobile(122px)
  & .has-description
    position: relative
    & .wapf-field-label
      display: flex
      justify-content: space-between
      width: 100%
      max-width: get-vw(210px)
      @include mobile()
        max-width: initial
  & .info-btn
    position: relative
    & span
      position: absolute
      top: -100%
      left: 150%
      width: get-vw(240px)
      pointer-events: none
      // overflow: hidden
      display: block
      transition: .4s ease-in-out
      background-color: #FFFFFF
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
      z-index: 200
      font-size: get-vw(13px)
      line-height: get-vw(20px)
      letter-spacing: get-vw(0.25px)
      color: #373F41
      opacity: 0
      padding: get-vw(10px) get-vw(15px)
      &::after
        content: ''
        position: absolute
        top: 10%
        left: 0
        width: get-vw(16px)
        height: get-vw(16px)
        background: #fff
        transform: translate(-50%,50%) rotate(45deg)
    & i
      color: #373F41
      font-family: Mulish
      font-weight: 600
      font-style: normal
      font-size: get-vw(14px)
      background-color: rgba(195, 203, 205,.2)
      display: flex
      align-items: center
      justify-content: center
      width: get-vw(18px)
      height: get-vw(18px)
      border-radius: 50%
      cursor: pointer
    &:hover
      & span
        pointer-events: all
        opacity: 1
  & .wapf-field-description
    display: none
  & .modal__body_right
    @include mobile()
      overflow: initial
    & .input-second
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: get-vw(14px)
      & .wapf-field-label
        font-size: get-vw(16px)
        color: rgba(115, 123, 125,.6)
        @include mobile
          font-size: get-vw-mobile(16px)
          color: $blackHeadline
      & .wapf-field-input input
        margin: 0
        height: get-vw(27px)
        max-width: get-vw(145px)
        @include mobile()
          max-width: get-vw-mobile(145px)
          height: get-vw-mobile(27px)
  & .modal__body_left .woocommerce-product-gallery
    opacity: 1 !important
    pointer-events: none
    width: 50%
  & .wapf-field-container
    padding: 0
    position: relative
  & .input-upload
    position: relative
    & .wapf-field-label
      display: none
    & .wapf-field-input
      display: none
      margin-bottom: get-vw(20px)
      @include mobile()
        margin-bottom: get-vw-mobile(20px)
    &.show
      & .wapf-field-input
        display: block
  & .wapf-wrapper .dzone
    border: none
    background-color: #0D1018
    color: $white
    padding: 0
    max-width: get-vw(165px)
    height: get-vw(40px)
    margin-left: auto
    border-radius: get-vw(30px)
    transition: .4s ease-in-out
    font-size: get-vw(16px)
    align-items: center
    justify-content: center
    &:hover
      @media (hover: hover)
        background-color: #fff
        color: #82bb58
        text-shadow: 0 0 1px #82bb58, 0 0 1px #82bb58
        box-shadow: 7px 4px 15px rgba(0, 0, 0, 0.15)
    @include mobile()
      max-width: get-vw-mobile(150px)
      height: get-vw-mobile(40px)
      font-size: get-vw-mobile(16px)
      border-radius: get-vw-mobile(30px)
    & .dz-message
      padding: 0
  & .input-radio
    display: flex
    justify-content: space-between
    margin: 0 0 get-vw(14px) 0
    @include mobile()
      flex-direction: column
      margin-bottom: get-vw-mobile(20px)
    & *
      box-sizing: border-box
    & .wapf-field-label
      color: rgba(115, 123, 125,.6)
      font-size: get-vw(16px)
      line-height: 1.3
      @include mobile()
        font-size: get-vw-mobile(16px)
        color: $blackHeadline
        margin-bottom: get-vw-mobile(13px)
    & .wapf-radios
      display: flex
      color: #C3CBCD
      & .wapf-input-label
        cursor: pointer
        position: relative
        display: flex
        align-items: center
        @include mobile()
          font-size: get-vw-mobile(16px)
          color: $titleText
    & input
      color: #C3CBCD
      border-color: #C3CBCD
      &[type='radio']
        display: none
    & .wapf-label-text
      font-size: get-vw(15px)
      transition: .4s ease-in-out
      padding: 0
      @include mobile()
        font-size: get-vw-mobile(15px)

    & .wapf-custom
      width: 16px
      height: 16px
      border-radius: 50%
      position: absolute
      top: 50%
      left: 0
      transform: translate(-125%,-50%)
      border: 1.6px solid #C3CBCD
      transition: .4s ease-in-out
      @include mobile()
        transform: none
        position: relative
        margin-right: get-vw-mobile(5px)
        border: 1.6px solid $titleText
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 70%
        height: 70%
        border-radius: 50%
        background-color: #373F41
        opacity: 0
        transition: .4s ease-in-out
        @include mobile()
          background: $lightTextTwo
    & .wapf-checkable
      &:not(:last-child) .wapf-label-text
        margin-right: get-vw(30px)
        @include mobile()
          margin-right: get-vw-mobile(33px)
          .wapf-pricing-hint
            opacity: 1
      &.wapf-checked
        & .wapf-custom
          border-color: #373F41
          @include mobile()
            border-color: $lightTextTwo
          &::after
            opacity: 1
        & .wapf-label-text
          @include mobile()
            color: $lightTextTwo

// .jquery-quickviewmodal.blocker
//   @include mobile()
//     background: #fff

.modal__body_right
  & .product_title.entry-title
    display: none
  & .wapf-field-group
    & .input-text
      position: relative
      & .wapf-field-label
        display: none
      & .wapf-field-input input
        width: 100%
  .wapf-field-group:nth-child(2)
    .wapf-field-label
      &.wapf--above
        span
          color: $blackHeadline

.popupWrapper .wapf-field-container.js-custom-btn
  @include mobile
    margin-bottom: get-vw-mobile(10px)

.custom-select
  transition: .4s ease-in-out
  &.opened
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,.25)
    & .custom-options
      display: block
      opacity: 1
      transform: translateY(0)
      visibility: unset
      pointer-events: all

.custom-select-trigger
  z-index: 21
  background: #f4f5f4
.blocker
  @include mobile
    padding: 0
    padding-top: get-vw-mobile(110px)
.stickyBody
  .blocker
    @include mobile
      padding: 0
      padding-top: get-vw-mobile(81px)


.jquery-quickviewmodal
  overflow: hidden
  @include mobile()
    overflow-x: hidden
    overflow-y: scroll
.error-popup
  position: absolute
  z-index: 200
  background: #D62D30
  border-radius: get-vw(3px)
  color: #fff
  padding: get-vw(4px) get-vw(6px)
  left: get-vw(10px)
  font-size: get-vw(14px)
  display: none
  @include mobile()
    border-radius: get-vw-mobile(3px)
    padding: get-vw-mobile(4px) get-vw-mobile(6px)
    left: get-vw-mobile(10px)
    font-size: get-vw-mobile(14px)
  &::before
    content: ''
    position: absolute
    top: 0
    left: 15px
    width: 6px
    height: 6px
    transform: translate(0,-50%) rotate(45deg)
    background: #d62d30
  .with-error &
    display: block

#modal-product-all.popupWrapper
  & .modal__body_left
    @include mobile()
      display: none!important
  & .modal__body
    @include mobile()
      flex-direction: unset