.product
  margin: get-vw(90px) auto 0
  // background-color: red
  // height: 200px
  &-heading
    margin-bottom: get-vw(30px)
    & h2
      color: $titleText
      font-weight: 600
      font-size: get-vw(34px)
      line-height: 1.3
      letter-spacing: get-vw(0.25px)
      @include mobile
        font-size: get-vw-mobile(34px)
        letter-spacing: get-vw-mobile(0.25px)

.product-cat
  @include mobile
    margin: get-vw-mobile(15px) 0 get-vw-mobile(25px)
    overflow-x: auto
    transition: .6s
  &::-webkit-scrollbar
    display: none
  &__list
    display: flex
    position: relative
    width: fit-content
    // @include mobile
    //   // display: -webkit-box
    //   overflow-x: scroll
    //   width: 500px
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: get-vw(2.5px)
      background-color: rgba(196, 196, 196, 0.6)
      @include mobile
        content: none
  &__btn
    transition: .3s ease-in-out
    cursor: pointer
    color: $lightTextThree
    font-weight: 700
    font-size: get-vw(16px)
    line-height: 1.3
    padding-bottom: get-vw(7px)
    position: relative
    @include mobile
      font-size: get-vw-mobile(16px)
      width: get-vw-mobile(102px)
      height: get-vw-mobile(36px)
      border: 1px solid #53A580
      display: flex
      align-items: center
      justify-content: center
      border-radius: get-vw-mobile(40px)
    &:after
      content: ''
      width: 0%
      height: get-vw(2.5px)
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      transition: .2s ease-in-out
      background-color: $accentColor
      @include mobile
        content: none
    &:hover
      @media (hover: hover)
        color: $titleText
        text-shadow: 0 0 1px $titleText, 0 0 1px $titleText
      &:after
        @media (hover: hover)
          width: 100%
    &:not(:last-child)
      margin-right: get-vw(50px)
    &.active
      color: $titleText
      text-shadow: 0 0 1px $titleText, 0 0 1px $titleText
      @include mobile
        background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
        color: $white
        text-shadow: unset
        border-color: transparent
      &:after
        width: 100%

.product-slider
  margin-top: get-vw(30px)
  @include mobile
    overflow: hidden
  &__card-info,&__card-preview
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    & img
      max-width: get-vw(122px)
      height: auto
      box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, .2)
      margin-bottom: get-vw(20px)
      @include mobile
        max-width: 50%
        margin-bottom: get-vw-mobile(20px)
    & h2
      max-width: 60%
      font-weight: 700
      font-size: get-vw(20px)
      line-height: 1.3
      letter-spacing: get-vw(0.1px)
      color: $titleText
      @include mobile
        font-size: get-vw-mobile(20px)
        max-width: 70%
  & .swiper-wrapper
    flex-wrap: wrap
    justify-content: space-between
    @include mobile
      flex-wrap: unset
      justify-content: unset
  &__card-info
    & .card-info__text
      width: 85%
      font-weight: 400
      font-size: get-vw(16px)
      line-height: 1.5
      letter-spacing: get-vw(0.25px)
      @include mobile
        font-size: get-vw-mobile(15px)
        letter-spacing: get-vw-mobile(0.25px)
        margin-top: auto
    & .btn-product__add
      margin-top: get-vw(20px)
      cursor: pointer
      background-color: $lightTextTwo
      border-radius: get-vw(40px)
      font-size: get-vw(16px)
      letter-spacing: get-vw(0.3px)
      color: $titleText
      width: 85%
      padding: get-vw(12px) 0
      transition: .3s ease-in-out
      background-color: $white
      @include mobile
        padding: get-vw-mobile(12px) 0
        border-radius: get-vw-mobile(40px)
        font-size: get-vw-mobile(16px)
        letter-spacing: get-vw-mobile(0.3px)
        margin-top: auto
        margin-bottom: get-vw-mobile(20px)
      &:hover
        @media (hover: hover)
          background-color: $blackHeadline
          color: $white
          text-shadow: 0 0 1px $white, 0 0 1px $white
          box-shadow: $btnShadowLight


.product-slider__wrapper
  display: none
  padding-bottom: get-vw(80px)
  &.active
    display: block
  &.swiper-container
    overflow: unset

.product-slider__item
  background-color: transparent
  width: get-vw(255px)
  height: get-vw(324px)
  perspective: 1000px
  margin-bottom: get-vw(36px)
  @include mobile
    width: 80%
    height: get-vw-mobile(304px)

.flip-card-inner
  position: relative
  width: 100%
  height: 100%
  text-align: center
  transition: transform 0.5s
  transform-style: preserve-3d
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

.product-slider__item:focus
    outline: 0

.product-slider__item:hover .flip-card-inner,.product-slider__item:focus .flip-card-inner
  transform: rotateY(180deg)

.flip-card-front,.flip-card-back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden

.flip-card-front
  background-color: #fff
  color: black
  z-index: 2
  display: flex
  justify-content: center
  align-items: center

.flip-card-back
  background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
  color: white
  transform: rotateY(180deg)
  z-index: 1
  display: flex
  justify-content: center
  align-items: center

.load-more
  width: get-vw(160px)
  height: get-vw(42px)
  display: flex
  align-items: center
  justify-content: center
  margin: get-vw(20px) auto 0
  border: get-vw(2px) solid #000000
  border-radius: get-vw(40px)
  cursor: pointer
  transition: .3s ease-in-out
  @include mobile
    width: get-vw-mobile(160px)
    height: get-vw-mobile(42px)
    margin: get-vw-mobile(30px) auto 0
    border-radius: get-vw-mobile(40px)
    border: get-vw-mobile(1px) solid #000000
  & span
    font-weight: 600
    font-size: get-vw(16px)
    letter-spacing: get-vw(0.3px)
    color: $blackHeadline
    background-color: $white
    @include mobile
      font-size: get-vw-mobile(16px)
      letter-spacing: get-vw-mobile(0.3px)
  &:hover
    @media (hover:hover)
      border-color: $accentColor
      color: $accentColor
      // text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1)

.swiper
  &-next,&-prev
    position: absolute
    top: 50%
    width: 50px
    height: 50px
    background: red
    z-index: 20
    display: none
  &-next
    right: 0
    transform: translate(-100%,-50%)
  &-prev
    left: 0
    transform: translate(-100%,-50%)

.back-card
  position: absolute
  top: 3%
  left: 4%
  width: get-vw-mobile(30px)
  height: get-vw-mobile(28px)
  background-color: $white
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  transform: scale(0)
  animation: showForward .4s ease-in-out forwards .4s
  & svg
    width: 60%
    height: auto

@keyframes showForward
  0%
    transform: scale(0)
  100%
    transform: scale(1)