.product
  margin: get-vw(90px) auto 0
  // background-color: red
  // height: 200px
  &-heading
    margin-bottom: get-vw(30px)
    & h2
      color: $titleText
      font-weight: 600
      font-size: get-vw(34px)
      line-height: 1.3
      letter-spacing: get-vw(0.25px)
      @include mobile
        font-size: get-vw-mobile(34px)
        letter-spacing: get-vw-mobile(0.25px)

.product-cat
  &__list
    display: flex
    position: relative
    width: fit-content
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: get-vw(2.5px)
      background-color: rgba(196, 196, 196, 0.6)
      @include mobile
        content: none
  &__btn
    transition: .3s ease-in-out
    cursor: pointer
    color: $lightTextThree
    font-weight: 700
    font-size: get-vw(16px)
    line-height: 1.3
    padding-bottom: get-vw(7px)
    position: relative
    @include mobile
      font-size: get-vw-mobile(16px)
      width: get-vw-mobile(102px)
      height: get-vw-mobile(36px)
      display: flex
      align-items: center
      justify-content: center
      border-radius: get-vw-mobile(40px)
    &:after
      content: ''
      width: 0%
      height: get-vw(2.5px)
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      transition: .2s ease-in-out
      background-color: $accentColor
    &:hover
      @media (hover: hover)
        color: $titleText
        text-shadow: 0 0 1px $titleText, 0 0 1px $titleText
      &:after
        @media (hover: hover)
          width: 100%
    &:not(:last-child)
      margin-right: get-vw(50px)
    &.active
      color: $titleText
      text-shadow: 0 0 1px $titleText, 0 0 1px $titleText
      &:after
        width: 100%

.product-slider
  margin-top: get-vw(30px)
  &__card-info,&__card-preview
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    & img
      max-width: get-vw(122px)
      height: auto
      box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, .2)
      margin-bottom: get-vw(20px)
    & h2
      max-width: 60%
  &__card-info
    & .card-info__text
      width: 85%
      font-weight: 400
      font-size: get-vw(16px)
      line-height: 1.5
      letter-spacing: get-vw(0.25px)
    & .btn-product__add
      margin-top: get-vw(20px)
      cursor: pointer
      background-color: $lightTextTwo
      border-radius: get-vw(40px)
      font-size: get-vw(16px)
      letter-spacing: get-vw(0.3px)
      color: $titleText
      width: 85%
      padding: get-vw(10px) 0
      transition: .3s ease-in-out
      &:hover
        @media (hover: hover)
          color: $accentColor
          text-shadow: 0 0 1px $accentColor, 0 0 1px $accentColor
          box-shadow: $btnShadowLight


.product-slider__wrapper
  display: none
  padding-bottom: get-vw(80px)
  &.active
    display: block

.product-slider__item
  background-color: transparent
  width: get-vw(255px)
  height: get-vw(324px)
  perspective: 1000px

.flip-card-inner
  position: relative
  width: 100%
  height: 100%
  text-align: center
  transition: transform 0.5s
  transform-style: preserve-3d
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  margin: 40px 0

.product-slider__item:focus
    outline: 0

.product-slider__item:hover .flip-card-inner,.product-slider__item:focus .flip-card-inner
  transform: rotateY(180deg)

.flip-card-front,.flip-card-back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden

.flip-card-front
  background-color: #fff
  color: black
  z-index: 2
  display: flex
  justify-content: center
  align-items: center

.flip-card-back
  background: linear-gradient(130.16deg, #82BB58 2.89%, #53A580 97.29%)
  color: white
  transform: rotateY(180deg)
  z-index: 1
  display: flex
  justify-content: center
  align-items: center

.swiper
  &-next,&-prev
    position: absolute
    top: 50%
    width: 50px
    height: 50px
    background: red
    z-index: 20
  &-next
    right: 0
    transform: translate(-100%,-50%)
  &-prev
    left: 0
    transform: translate(-100%,-50%)