@include font(Mulish, Mulish/Mulish-ExtraLight, 200, normal)
@include font(Mulish, Mulish/Mulish-Regular, 400, normal)
@include font(Mulish, Mulish/Mulish-SemiBold, 600, normal)
@include font(Mulish, Mulish/Mulish-Bold, 700, normal)
@include font(Mulish, Mulish/Mulish-ExtraBold, 800, normal)
@include font(Futura, Futura/FuturaPTCond-Book, 400, normal)
@include font(Futura, Futura/FuturaPTCond-Medium, 500, normal)

body
  font-family: Mulish, sans-serif
  font-weight: 400
  color: #000
  position: relative
  background-color: $white
  overflow-y: scroll
  height: 100%
  // overflow: hidden

header
  width: 100%

.header-on
  margin-top: get-vw(96px)
  @include mobile
    margin-top: get-vw-mobile(110px)

.container
  width: 80%
  margin-right: auto
  margin-left: auto
  @include mobile
    width: 88%

.scroll-top
  display: none
  width: get-vw(47px)
  height: get-vw(47px)
  border-radius: 50%
  background-color: $white
  position: fixed
  right: 10%
  bottom: 14%
  z-index: 100
  cursor: pointer
  transition: .3s ease-in-out
  @include mobile
    width: get-vw-mobile(47px)
    height: get-vw-mobile(47px)
  &__btn
    position: absolute
    width: 50%
    height: 50%
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    display: flex
    align-items: center
    justify-content: center
    & svg
      fill: $accentColor
      transition: .3s ease-in-out
  &:hover
    @media (hover: hover)
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35)
    & svg
      @media (hover: hover)
        fill: $descriptionText

.mask-preloader
  display: flex
  justify-content: center
  align-items: center
  background: rgba(0, 0, 0, 0.8)
  width: 100%
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 1000

#preloader
  width: 25vmin
  height: 25vmin
  position: relative
  perspective: 50000px
  color: #7DB95D

#preloader span
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: block
  width: 18.4%
  height: 18.4%
  border-radius: 100%
  background: currentColor

#preloader div
  position: absolute
  width: 100%
  height: 100%
  border-left: 1vmin solid
  border-top: 1vmin solid transparent
  border-radius: 100%

#preloader div:nth-child(1)
  animation: anim-1 1s linear infinite

#preloader div:nth-child(2)
  animation: anim-2 1s linear infinite

#preloader div:nth-child(3)
  animation: anim-3 1s linear infinite

@keyframes anim-1
  from
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg)
  to
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg)

@keyframes anim-2
  from
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg)
  to
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg)

@keyframes anim-3
  from
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg)
  to
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg)
