@include font(Mulish, Mulish/Mulish-ExtraLight, 200, normal)
@include font(Mulish, Mulish/Mulish-Regular, 400, normal)
@include font(Mulish, Mulish/Mulish-SemiBold, 600, normal)
@include font(Mulish, Mulish/Mulish-Bold, 700, normal)
@include font(Mulish, Mulish/Mulish-ExtraBold, 800, normal)
@include font(Futura, Futura/FuturaPTCond-Book, 400, normal)
@include font(Futura, Futura/FuturaPTCond-Medium, 500, normal)

body
  font-family: Mulish, sans-serif
  font-weight: 400
  color: #000
  position: relative
  background-color: $white
  // overflow-x: hidden
  // overflow: hidden

header
  width: 100%

.container
  width: 80%
  @include mobile
    width: 88%

.scroll-top
  display: none
  width: get-vw(47px)
  height: get-vw(47px)
  border-radius: 50%
  background-color: $white
  position: fixed
  right: 10%
  bottom: 14%
  z-index: 100
  cursor: pointer
  transition: .3s ease-in-out
  @include mobile
    width: get-vw-mobile(47px)
    height: get-vw-mobile(47px)
  &__btn
    position: absolute
    width: 50%
    height: 50%
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    display: flex
    align-items: center
    justify-content: center
    & svg
      fill: $accentColor
      transition: .3s ease-in-out
  &:hover
    @media (hover: hover)
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35)
    & svg
      @media (hover: hover)
        fill: $descriptionText