@include font(Mulish, Mulish/Mulish-Regular, 400, normal)
@include font(Mulish, Mulish/Mulish-SemiBold, 600, normal)
@include font(Mulish, Mulish/Mulish-Bold, 700, normal)
@include font(Mulish, Mulish/Mulish-ExtraBold, 800, normal)

body
  font-family: Mulish, sans-serif
  font-weight: 400
  color: #000
  position: relative
  background-color: #fff
  // overflow: hidden

header
  width: 100%

.container
  width: 90%

.mask-page
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .3)
  position: absolute
  top: 0
  left: 0
  z-index: 200
  display: none